{
    "root": true,
    "extends": [
      "airbnb-base",
      "plugin:react/recommended"
    ],
    "rules": {},
    "reportUnusedDisableDirectives": true,
    "settings": {
      "react": { "version": "detect" }
    }
  }
