<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{- title -}}</title>

    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.excerpt %}
      <meta name="description" content="{{- page.excerpt -}}"/>
    {% endif %}

    {% block styles %}
      <link rel="stylesheet" href="/@root/styles/style.css" />

      {# Any additional styles here. #}
    {% endblock %}

    {{ __slinkity.head | safe }}

    {% block head %}
      {# Any custom heading code here. #}
    {% endblock %}
  </head>
  <body class="overflow-y-scroll">
    {{ content | safe }}

    {% block scripts %}
      {# Any scripts here. #}
    {% endblock %}
  </body>
</html>
